/* contact */
.rowform {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;

}
.leftContact {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 0px 8px;
  overflow: hidden;
  width: 40%;


}

.leftContact img {
  transition: all 1s;

}

.leftContact img:hover {
  transform: scale(1.1, 1);
}

.rightContact {
  background-color: #EDF1F3;
  box-shadow: rgba(0, 0, 0, .3) 0px 0px 8px;
  width: 50%;
}

.btnForm {
  background-color: #dbe5eb;
  box-shadow: rgba(0, 0, 0, .1) 0px 0px 8px;
  transition: all 1s;
}

.btnForm:hover {
  background-color: rgb(234, 22, 22);
  color: white;
}

.Phone,
.email {
  text-decoration: none;
}