   <!-- Start Header  -->
   <header class="d-flex">
    <div class="logo">
        <a href="#"><img src="logo.jpeg" width="30px" style="border-radius: 50%;" alt="This Is Picture Logo"></a>
    </div>
    <div class="links ">
        <ul id="navbar" class="d-flex justify-content-between align-items-center list-unstyled">
            <li><a  class="nav-linkss1 active" href="#home">Home</a></li>
            <li><a  class="nav-linkss2"  href="#project">Project</a></li>
            <li><a  class="nav-linkss3"  href="#skils">Skils</a></li>
            <li><a  class="nav-linkss4"  href="#contact">Contact</a></li>
            <li><a  class="nav-linkss"  href=""  data-bs-toggle="modal" data-bs-target="#staticBackdrop">About</a></li>
            <span id="close" style="cursor: pointer;"> <i class="fas fa-times" ></i></span>
        </ul>
        <div id="mobile">
            <i class="fas fa-outdent bar" style="cursor: pointer;font-size: 30px;" id="bar"></i>
        </div>
    </div>
</header>


